{% extends '_layout.html' %}

{% block title %}Movie Rating App | Home{% endblock %}

{% block body %}
<h1 class="mb-5" style="color:#70d3ea;">Movie Rating App</h1>
<p class="mb-3" style="color:silver;">Welcome to the Moving Rating App! Here, you can create reviews of movies and save them in our in-memory database.</p>
<p>Check out our movie rating form to get started!</p>
<!--Art link: https://media.istockphoto.com/vectors/movie-time-vector-illustration-cinema-poster-concept-on-red-round-vector-id911590226?k=20&m=911590226&s=612x612&w=0&h=HlJtSKF-fLsKFy1QJ-EVnxXkktBKNS-3jUQPXsSasYs= !-->
<img src="https://media.istockphoto.com/vectors/movie-time-vector-illustration-cinema-poster-concept-on-red-round-vector-id911590226?k=20&m=911590226&s=612x612&w=0&h=HlJtSKF-fLsKFy1QJ-EVnxXkktBKNS-3jUQPXsSasYs=" alt="Movie time" width="350" height="400">
{% endblock %}
