{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
<h1 class="mb-5" style="color:#70d3ea;">All Movies</h1>
<p class="mb-3" style="color:silver;">See our list of movie ratings below</p>
<!-- TODO: Feature 1 -->
    <table class="table" style="color:silver;">
        <thead>
            <tr>
                <th style="color:silver;">Movie</th>
                <th style="color:silver;">Director</th>
                <th style="color:silver;">Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for index in movies %}
            <tr>
                <td style="color:silver;">{{index.title}}</td>
                <td style="color:silver;">{{index.director}}</td>
                <td style="color:silver;">{{index.rating}}</td>
            </tr>>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
